<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<form action="#" th:action="@{processForm}" th:object="${student}" th:method="POST">

    <label th:for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}"/>
    <br><br>

    <label th:for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}"/>
    <br><br>

    <label th:for="country">Country</label>
    <select th:field="*{country}">
        <!--     <option th:each="country : ${student.countryOptions}"
                     th:value="${country}"
                     th:text="${country}"></option>-->

        <option th:each="entry : ${student.countryOptions.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
            This will be replaced - is only used for natural templating
        </option>
    </select>

    <br><br>

    <label th:for="favouriteLanguage">Favourite Language: </label>

    <ul>
        <li>
            <input type="radio" th:field="*{favouriteLanguage}" th:value="Java"/>
            <label th:for="Java" th:text="Java">Wireframe</label>
            <input type="radio" th:field="*{favouriteLanguage}" th:value="Python"/>
            <label th:for="Python" th:text="Python">Wireframe</label>
            <input type="radio" th:field="*{favouriteLanguage}"
                   th:value="Golang"/>
            <label th:for="GoLang" th:text="GoLang">Wireframe</label>
            <input type="radio" th:field="*{favouriteLanguage}"
                   th:value="JavaScript"/>
            <label th:for="JavaScript" th:text="JavaScript">Wireframe</label>
        </li>
    </ul>


    <br><br>

    <ul>
        <li>
            <label th:for="Linux" th:text="Linux">Covered</label>
            <input type="checkbox" th:field="*{operatingSystems}" th:value="Linux"/>
        </li>
        <li>
            <label th:for="MacOs" th:text="MacOs">Covered</label>
            <input type="checkbox" th:field="*{operatingSystems}" th:value="MacOs"/>
        </li>
        <li>
            <label th:for="Windows" th:text="Windows">Covered</label>
            <input type="checkbox" th:field="*{operatingSystems}" th:value="Windows"/>
        </li>
    </ul>

    <br><br>


    <input type="submit" value="Submit">


</form>


</body>
</html>